header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: blue;
    color: white;
    font-size: 36px;
}

.green {
    background-color: green;
    color: white;
}

.yellow {
    background-color: yellow;
    color: white;
}

.red {
    background-color: red;
    color: white;
}

.historyBtn {
    margin: 5px 0;
}

#citySearchBar {
    width: 80%;
}

#citySearchBtn {
    margin: 10px 0;
    width: 80%;
}
